/* clean */
html, body, div,span,img, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; outline:0;
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif;
 }
 ul, li { list-style: none; padding:0;}
 h1, h2, h3, h4, h5, h6{ font-size:100%;}
 fieldset{border:0;}
  
 img,button,thead,tr,th,td { border: 0 none;}
 input, textarea, select{ font-family:inherit;}
 em{ font-style:normal}
 button{ cursor:pointer;}
 
 
 .clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
 .clearfix{display:block; min-height: 1%; }
 .clear {font-size: 0;content: " "; clear: both; height: 0;zoom: 1;}
 
 *html .clearfix { height: 1%; }
 
 .link{ cursor:pointer}
 
 a{ text-decoration: none;  }
 a:focus {outline :0;}
 a:hover{ text-decoration: none;  }
 a:focus{ text-decoration: none;  }
 .block{display:block}
 .fl{float:left;}
 .fr{float:right;}
  
 /* main*/
 [class^="font-"],[class*=" font-"] {
	   
  }
 .font-cn{ width:90%;}
 .font-en{ font-size:110%;}
 /* main*/
 [class^="panel-"],[class*=" panel-"] {
	   width:960px;margin:0 auto;  float:none;
  }
 .panel-full{ width:100%;}
 .panel-default{ }
 .panel-line{border-top:#e2e2e2 solid 1px;height:1px;display:block; margin-top:10px;margin-bottom:7px;}
 .panel-lf{ 
 width: 600px;
 display:block;
 float: left;
 margin-right: 15px;
 } 
 .panel-r{
 width: 345px;
 display:block;
 float: left;
 }